@model NexDevs.Models.PostImage

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PostId" readonly />
            <div class="form-group">
                <label asp-for="WorkId" class="control-label"></label>
                <input asp-for="WorkId" class="form-control" />
                <span asp-validation-for="WorkId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentPost" class="control-label"></label>
                <input asp-for="ContentPost" class="form-control" />
                <span asp-validation-for="ContentPost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentReceipt" class="control-label"></label>
                <input asp-for="PaymentReceipt" class="form-control" />
                <span asp-validation-for="PaymentReceipt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Current Profile Picture</label>
                <img src="@Model.ImageUrl" alt="Profile Picture" width="100" />
            </div>
            <div class="form-group">
                <label asp-for="PostImageUrl" class="control-label">Image</label>
                @* aqui se configura el  input para subir un archivo *@
                <input asp-for="PostImageUrl" class="form-control" name="PostImageUrl" type="file" />
                <span asp-validation-for="PostImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateAt" class="control-label"></label>
                <input asp-for="CreateAt" class="form-control" />
                <span asp-validation-for="CreateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesCount" class="control-label"></label>
                <input asp-for="LikesCount" class="form-control" />
                <span asp-validation-for="LikesCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateAt" class="control-label"></label>
                <input asp-for="CreateAt" class="form-control" />
                <span asp-validation-for="CreateAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Approved" class="control-label"></label>
                <input asp-for="Approved" class="form-control" />
                <span asp-validation-for="Approved" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-between align-items-center mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
