@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <img src="~/images/logos/Logo.svg" alt="NexDevs" style="height: 200px;">
    </div>
</div>
