@model NexDevs.Models.Comment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PostId" class="control-label">Post Id</label>
                <input asp-for="PostId" class="form-control" />
                <span asp-validation-for="PostId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">User Id</label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkId" class="control-label">Work Id</label>
                <input asp-for="WorkId" class="form-control" />
                <span asp-validation-for="WorkId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContentComment" class="control-label">Content comment</label>
                <input asp-for="ContentComment" class="form-control" />
                <span asp-validation-for="ContentComment" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-between align-items-center mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
