@model NexDevs.Models.Category

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post"> @* se configura el formulario para la carga de archivos *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label">Category Name</label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
            <div>
                <div class="form-group">
                <label asp-for="CategoryImageUrl" class="control-label">Image</label>
                @* aqui se configura el  input para subir un archivo *@
                <input asp-for="CategoryImageUrl" class="form-control" name="CategoryImageUrl" type="file" />
                <span asp-validation-for="CategoryImageUrl" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group d-flex justify-content-between align-items-center mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
